/* status dropdown styles */
.status-dropdown {
	border-radius: 100px;
	height: 34px;
	.dropdown-trigger {
		display: flex;
		align-items: center;
		gap: 6px;
		// background: #fff;
		border-radius: 50px;
		padding: 8px;
		cursor: pointer;
		// border: 1px solid #c8d3f6;
		transition: all 0.2s;
		font-size: 16px;
		font-weight: 500;
		// height: 40px;
		color: #486ed7;
		// box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);

		&:hover {
			// border-color: #79a1f3;
			// background-color: #f7f9fd;
		}
	}
	.dropdown-panel {
		// margin-top: 8px;
		background: #fff;
		border-radius: 8px;
		// box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
		padding: 3px 5px;
		border: 1px solid #e8e8e8;
		z-index: 10;
		li {
			// padding: 10px 16px;
			margin: 3px 0;
			font-size: 15px;
			cursor: pointer;
			text-align: left;
			border-radius: 6px;
			transition: background 0.2s;
			display: flex;
			// align-items: center;
			gap: 8px;
			font-weight: 400;
			max-height: 31px;
			color: #1c1c1c !important;
			font-family: "Inter";
			font-size: 14px !important;
			padding: 5px 8px;
			&:hover {
				background: #f6edfd;
			}

			&.selected {
				background: #f6edfd;
				font-weight: 500;
				color: #320b57 !important;
				// color: #486ed7;
			}
		}
	}
	.no_option_found {
		width: 100px;
		margin: 0 auto;

		iframe {
			width: 100%;
			height: 60px;
			margin: 0 auto;
		}
		.centeraligntext {
			margin: 0 auto;
			text-align: center;
		}
	}

	.status-label {
		display: flex;
		align-items: center;
		gap: 8px;
		font-size: 13.6px;
		font-weight: 500;
		color: #486ed7;
		border: none;

		.status-dot {
			width: 8px;
			height: 8px;
			border-radius: 50%;
			background-color: currentColor; /* Text color se dot ka color */
		}
	}

	/* Status ke hisaab se color */
	.status-active,
	.status-open,
	.status-healthy,
	.status-completed,
	.status-expired,
	.status-scheduled,
	.status-hired,
	.status-interviewed,
	.status-new,
	.status-approved,
	.status-login-enabled{
		color: #486ed7;
	}

	.status-inactive,
	.status-terminated,
	.status-resigned,
	.status-unhealthy,
	.status-filled,
	.status-cancelled,
	.status-rejected,
	.status-declined,
	.status-closed,
	.status-login-disabled,
	.status-not-started {
		color: #f44336; /* Red */
	}

	.status-on-hold,
	.status-notice-period,
	.status-pending,
	.status-ongoing,
	.status-planned,
	.status-in-progress {
		color: #ff9800; /* Orange */
	}

	.status-draft,
	.status-all {
		color: #9e9e9e; /* Gray */
	}

	/* `CustomDropdown` ka trigger button jaisa border and color */
	.custom-dropdown-trigger {
		border: 1px solid #c8d3f6;
		background-color: #fff;
		color: #486ed7;
		border-radius: 50px;
		padding: 8px 16px;
		font-size: 13.6px;
		// height: 32px;
		display: flex;
		align-items: center;
		gap: 8px;
		transition: all 0.2s;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
	}

	/* `CustomDropdown` ke andar ka arrow icon */
	.custom-dropdown-trigger .chevron-icon {
		// color: #486ed7;
	}
}

/* Status ke hisaab se color */
.status-active,
.status-healthy,
.status-open,
.status-completed,
.status-expired,
.status-scheduled,
.status-hired,
.status-interviewed,
.status-new,
.status-approved,
.status-login-enabled,
.status-approval-pending{
	color: #486ed7;
	border: 1px solid #486ed7;
}

.status-inactive,
.status-terminated,
.status-resigned,
.status-not-started,
.status-not-started, .status-unhealthy,
.status-filled,
.status-cancelled,
.status-rejected,
.status-declined,
.status-login-disabled,
.status-closed {
	color: #f44336; /* Red */
	border: 1px solid #f44336;
}

.status-on-hold,
.status-notice-period,
.status-ongoing,
.status-planned,
.status-pending,
.status-in-progress {
	color: #ff9800; /* Orange */
	border: 1px solid #ff9800;
}

.status-draft,
.status-all {
	color: #9e9e9e; /* Gray */
	border: 1px solid #9e9e9e;
}

.custom-dropdown .dropdown-trigger .chevron-icon {
	color: #1c1c1c;
}

.dropdown_item_dis.disabled {
	opacity: 0.6;
  pointer-events: none;
  cursor: not-allowed;
}