.dailyAttRepCal .dropdown-panel{
left: 0;
right: auto;

}


.dailyAttRepCal .calendar-header-att{
        margin-bottom: 0px;
    padding: 10px 0;
}

.dailyAttRepCal .leave-report-page .leave-report-page{
padding: 24px 0;
}

.dailyAttRepCal .custom-dropdown{
    margin-right: 20px;
}

.dailyAttRepCal ul.dropdown-menu li {
    font-size: 14px;
}

.dailyAttRepCal .filter-bar .dropdown-menu {
    min-width: 236px;
}